.title-n1{
    text-align: center;
    border: 5px solid rgb(69, 206, 69);
    box-shadow: 10px 5px 5px green ;
    background-color:  rgba(69, 206, 69,0.4);;

}
.img-cat{
    height: 500px;
    width: 900px;
    image-orientation: flip;
    border-radius: 30px;
    border: 5px solid black;
    margin-left: 200px;
}
*{
    text-align: justify;
    font-size: 20px;
}
.text-lion{
    text-align: justify;
    font-size: 20px;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    border: 4px solid black;
}
.text-lion:hover{
    font-size: 30px;
    border: 1px solid rgb(30, 30, 245);
    background-color:  rgba(69, 206, 69,0.4);
}


